/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
.card_container,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
.card_container {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: orange;
}
#root,
#__next {
  isolation: isolate;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Khula';
  line-height: 1.8;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

/* Elements */

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  text-indent: 5px;
}

input {
  padding: 7px 10px 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border: 1px solid orange;
}

form button {
  margin-top: 15px;
}

button {
  padding: 5px 20px 1px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  color: #fff;
}

button:hover {
  background-color: darkorange;
  cursor: pointer;
}

.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
}

.view__banner {
  height: 17%;
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
}

.view__banner h1 {
  align-self: center;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 600;
}

.view__content {
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: space-between;
}

.view__content > * {
  height: 100%;
}

nav {
  width: 13%;
  padding: 20px 20px;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

nav a {
  text-decoration: none;
  color: grey;
}

nav a.active {
  border-left: 2px solid orange;
  text-indent: 10px;
  color: orange;
}

nav a:hover {
  color: orange;
}

main {
  width: 87%;
  overflow-y: auto;
}

.main__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 10px;
}

.main__banner h2 {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.form_search {
  width: 40vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.form_search input,
select {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form_search input:focus,
select:focus {
  outline: none;
  border-bottom: 1px solid orange;
}

.form_search input {
  flex-grow: 2;
}

.form_search select {
  padding: 7px 10px 3px;
  flex-grow: 1;
}

.form_search button {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  margin: 0;
}

.form_search button:hover {
  background-color: orange;
  color: white;
}

.main__content {
  padding: 0 50px;
  margin-bottom: 10vh;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}

.container__alt {
  align-items: center;
  gap: 0;
  margin-bottom: 5vh;
}

.container__alt > hr {
  width: 100px;
  border: none;
  border-top: 1px solid grey;
}

.container__alt > div {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
}

.container__alt:hover article {
  border: 1px solid orange;
}

.container__alt:hover > hr {
  border-top: 1px solid orange;
}

.issue_members button {
  margin-top: 5vh;
}

article {
  width: 225px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.fitContent {
  /* height: 170px; */
}

article:hover {
  border: 1px solid orange;
}

article:hover h3 {
  color: orange;
}

article span {
  font-size: 0.9em;
}

article > * {
  /* border: 1px solid red; */
}

.card_title {
  padding-top: 20px;
}

.card_title div {
  width: -moz-fit-content;
  width: fit-content;
}

.card_title div hr {
  width: 65%;
  padding-top: 7px;
  border: none;
  border-bottom: 1px solid grey;
}

.card_title h3 {
  font-size: 1.6em;
  line-height: 1.2;
  color: grey;
}

.card_details {
  padding: 12px 0 5px;
}

.card_details span {
  display: block;
}

.card_actions {
  display: flex;
  flex-direction: row-reverse;
}

.card_actions button {
  border: 1px solid orange;
  background-color: #fff;
  color: grey;
}

.card_actions button:hover {
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.card_actions .card__action_secondary {
  border: none;
  color: orange;
  transform: translateY(1px);
}

.card_actions .card__action_secondary:hover {
  background-color: transparent;
  color: grey;
}

p {
  margin-bottom: 15px;
}

.toggleForm {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.edit_actions {
  width: 25%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
}

.edit_actions button:first-child {
  width: 70%;
  background-color: red;
}
